body{
    margin: 0% !important;
    overflow-x: hidden !important;
}
button:hover{
    background-color: transparent !important;
    border: 2px solid black !important;
    transition: 0.5s;
    color: blaCK !important;
}
h1{
    font-size: 4rem !important;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900 !important;
    margin-bottom: 0.1em;
    font-style: normal;
}
h2{
    font-size: 2.5rem;
    margin-bottom: 1em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
a,p,li,label,input,th,td,button{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}
th{
    font-weight: bolder;
}

/* header */
marquee > span{
    margin-left: 10em;
}
marquee{
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    height: 2em;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}
header{
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0%;
    z-index: 9;
    left: 0%;
}
nav{
    display: flex;
    width: 100%;
    margin: 0%;
    padding: 0% 0%;
    background-color: rgb(255, 255, 255);
    height: 4em;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
#res{
    display: none;
}
nav h2{
    margin: 1em;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 3em;
}
#hero{
    background-image: url(./assets/pexels-zainulhaq-13562801.jpg);
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    align-content: flex-end;
    text-align: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
#hero h1,p{
    position: relative;
    z-index: 3;
}
#outerhero{
    width: fit-content;
    height: 100vh;
    display: flex;
    position: relative;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-self: right;
    align-self: flex-end;
    padding: 0% 2%;
}
#hero button{
    width: 10em;
    height: 3em;
    align-self:flex-end ;
    background-color: black;
    border: none;
    border-radius: 45px;
    color: white;
}
#overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.283);
}
/* nav and hero section media query */
@media(max-width:1025px){
    nav h2{
        font-size: 1.5rem;
    }
    nav li{
        font-size: 0.8rem;
    }
}
@media(max-width:769px){
    nav h2{
        font-size: 1.2rem;
    }
    nav li{
        font-size: 0.7rem;
    }
}
@media(max-width:426px){
    #nav-one{
        display: none;
    }
    #nav{
        display: none;
    }
    #res{
        display: flex;
    }
    nav li{
        font-size: 0.7rem;
    }
    #hero{
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    
    }
    #outerhero{
        justify-content: center;
        align-self: center;
        align-self: center;
        text-align: center;
        padding: 0%;
    }
    h1{
        font-size: 2.5rem;
        -webkit-text-stroke: 0.2px white;
    }
    #hero button{
        align-self: center;
    }   

}
@media(max-width:321px){
    nav h2{
        font-size: 1.1rem;
        font-weight: 700;
    }
}
/* second section */
#second{
    height: fit-content;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 3% 0%;
}
#outer{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3,0fr);
    grid-template-rows: repeat(3,0fr);
    justify-content: center;
    grid-gap: 5em;
}
.inner{
    width: 18em;
    height: 90vh;
    display: flex;
    /* border-bottom: 1px solid black; */
    text-align: left;
    justify-content: center;
    flex-direction: column;
}
#title{
    font-weight:bolder;
}
#description{
    font-weight:light;
}
.inner button{
    width: 8em;
    height: 2.5em;
    background-color: black;
    color: white;
    border: none;
    border-radius: 45px;
}
#cart{
    position: relative;
}
#nocart{
    position: absolute;
    top: 0%;
    left: 14%;
    text-align: center;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 1em;
    height: 1em;
    border-radius: 45px;
    background-color: red;
}
#img{
    width: 100%;
    height:45%;
}
#view-more{
    background-color: black;
    color: white;
    border: none;
    border-radius: 45px;
    width: 10em;
    align-self: center;
    height: 3.5em;
}
#view{
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 3.5em;
}
@media(max-width:1025px){
    #outer{
        grid-template-columns: repeat(2,0fr);
        grid-template-rows:repeat(2,0fr) ;
    }
}
@media(max-width:426px){
    #second{
        width: 100%;
        padding: 3% 2% !important;
    }
    #outer{
        grid-template-columns: repeat(1,0fr);
        grid-template-rows:repeat(1,0fr) ;
        width: 100vw;
        padding: 0%;
    }
    .inner{
        width: 80vw;
        height: fit-content;
        padding: 1% 0% !important;

    }
    .inner img{
        width:auto ;
    }
}
/* third /gallery */
#third{
    background-color: whitesmoke;
    height: fit-content;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 2em;
    width: 100%;
}
#outergallery{
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    height: fit-content;
    justify-content: center;
    padding: 1% 0%;
    align-items: center;
    text-align: center;
}
#outergallery li{
    margin-top: 3em;
}

.innergallery{
    width: 45%;
}
#gallery{
    width: 100%;
    height: fit-content;
    display: grid;
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
}

.pic1{
    background-image: url(./assets/pexels-aden-ardenrich-181745-581339.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column-start:1 ;
    grid-row-start:1 ;
    grid-row-end:6 ;
    grid-column-end:2 ;

}
.pic2{
    background-color: rgb(60, 102, 102);
    grid-column-start:2 ;
    background-image: url(./assets/pexels-bohlemedia-1884584.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row-start:1;
    grid-row-end:6;
    grid-column-end:5 ;

}
.pic3{
    background-color: rgb(200, 230, 33);
    grid-column-start:1 ;
    grid-row-start:6;
    background-image: url(./assets/pexels-kaip-996329.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row-end:11 ;
    grid-column-end:3;
}
.pic4{
    background-color: rgb(255, 0, 0);
    grid-column-start:3 ;
    grid-row-start:6;
    grid-row-end:11;
    background-image: url(./assets/pexels-monstera-1353503.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column-end:5;
}
@media (max-width: 768px) {
    #gallery {
        grid-template-columns: 1fr;

    }
    #outergallery{
        flex-direction: column;
        padding: 0%;
    }
    .innergallery{
        width: 100%;
    }

}
#cart2{
    position: relative ;
}

 #nocart2{
    position: absolute ;
    top: 9%;
    right: 60%;
    text-align: center;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 1em;
    height: 1em;
    border-radius: 45px;
    background-color: red;
}
 /*loader  */
 #loader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0%;
    bottom: 0%;
    background-color: white;
    z-index: 13;
 }
 .load{
    width:1em ;
    height: 1em;
    background-color: black;
    margin: 1em;
    transition: 0.5s ;
    border-radius: 45px;
 }
 #load1{
    animation: 1s infinite alpha;

 }
 #load2{
    animation: 1.5s infinite alpha;

 }
 #load3{
    animation: 2s infinite alpha;

 }
 @keyframes alpha{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 50%;
    }
    100%{
        opacity: 100%;
    }
 }
/* contact us */
footer{
    background-color: black;
    width: 100%;
    height: fit-content;
    margin-bottom: 0%;
    color: white !important;
}
#outerfooter{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.innerfooter1{
    width: 30%;
    text-align: left;
    /* border-right: 3px solid white; */
    height: fit-content;
}
.innerfooter2{
    width: 65%;
    height: fit-content;
}
table{
    width: 100%;
}
tr{
    height: 4em;
    margin: 0%;
}
th,td{
    padding: 0% !important;
}
#res{
    box-shadow: 1px 1px 1px 1px black;
    
}

@media(max-width:768px){
    footer{
        height: 100vh;
        padding: 0% 0%;
        margin: 0%;
    }
    #outerfooter{
        flex-direction: column;
        height: 100vh;
    }
    .innerfooter1,.innerfooter2{
        width: 100%;
        text-align: center !important;

    }
    th,td{
        width: 2em;
    }
}
/* respnav */
#respnav{
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0%;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 70vh;
    z-index: 8;
    box-shadow: 1px 1px 1px 1px black;
    background-color: white;
}
#respnav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0%;
    padding: 0%;
    height: 100%;
}
#respnav li{
    margin-top: 2em;
    list-style: none;
}